*{
  font-family:'Roboto', sans-serif;
}

.App {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top:80px;
  margin-left:120px;
  margin-right:80px;
  width:auto;
  height:88vh;
  
     }


.info{
  width:50%;
  float:right;
}

.icon{
  width:50%;
  float:left;
  font-size: 20px;
 }

.alignright{
    float:right;
 }
 

.dashboardstatslargetext {
  float:right;
   font-size: 30px;
 }

.dashboardcardlargetext {
  float:right;
  font-size: 25px;
  padding: top 0px;
 }

.dashboardcardsmalltext {
 font-size: 18px;
  padding-top:30px;
     }

.img{
  height:60%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width:60%;
  }

.dashboardcircle {
  background:rgba(0, 0, 0, 0.4);
  height: 70px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width: 70px;
  margin-bottom: 5px;
  border-radius: 75px;
}

    
